*{
    margin:0px;
    padding:0px;
}
body{
  background-color: snow;
}
img{
  width:auto;
  height:100px;
}
p{
  padding-left: 20px;
  padding-top:20px;
  font-family: sans-serif;
  font-size:2rem;
  line-height: .8;
  width:300px;

}
em{

  font-family:serif;
  /*text-shadow: 10px 10px 20px blue;*/
  font-size: 2.5rem;
  line-height: .8;
}
#text{
  position:absolute;
  top:0px;
  left:0px;
  z-index:-10;
}


#box1{
  position:fixed;
  top:100px;
}

#box2{
  position:fixed;
  right:10px;
  top:200px;
}
#box3{
  position:fixed;
  right:600px;
  top:100px;
}
#box4{
  position:fixed;
  left:300px;
  top:200px;
}
#box5{
  position:fixed;
  left:10px;
  top:200px;
}
#box6{
  position:fixed;
  right:10px;
  top:-20px;
}

#box7{
  position:fixed;
  right:10px;
  top:-20px;
}

#box8{
  position:fixed;
  right:100px;
  top:400px;
}

#box9{
  position:fixed;
  right:0px;
  top:0px;
}






.patternunit{
    position:absolute;
    display:inline-block;
}

.patternunit2{
    position:absolute;
    display:inline-block;
    height:200px;
    width: 200px;
   border-left: 1.8px dotted white;
}
