*{
    margin:0px;
    padding:0px;
}
body{
  background-color: mediumblue;
}
img{
  width:auto;
  height:100px;
}
p{
  padding-left: 20px;
  padding-top:20px;
  font-family: sans-serif;
  font-size:2rem;
  line-height: .8;
  width:300px;
}
em{
  font-family:serif;
  font-size: 2.5rem;
  line-height: .8;
}

a{
  display:block;
  width:100px;
}
a:visited{
  color:blue;
}
video{
  width: 100vw;
  height: 100vh;
}


#text{
  position:absolute;
  top:0px;
  left:0px;
  z-index:-10;
}




#box1{
  position:fixed;
  top:100px;
}

#box2{
  position:fixed;
  right:10px;
  top:200px;
}
#box3{
  position:fixed;
  right:600px;
  top:100px;
}
#box4{
  position:fixed;
  left:300px;
  top:200px;
}
#box5{
  position:fixed;
  left:700px;
  top:200px;
}
#box6{
  position:fixed;
  right:700px;
  top:20px;
}

#box7{
  position:fixed;
  right:10px;
  top:70px;
}

#box8{
  position:fixed;
  right:100px;
  top:400px;
}

#box9{
  position:fixed;
  right:0px;
  top:0px;
}
#box10{
  position:fixed;
  right:0px;
  bottom:200px;
}
#box11{
  position:fixed;
  right:0px;
  top:0px;
}
.patternunit{
    position:absolute;
    display: inline-block;
}
