*{
    margin:0px;
    padding:0px;
}
body{
  background-color:whitesmoke;
}
img{
  width:auto;
  height:150px;
}
p{
  padding-left: 20px;
  padding-top:20px;
  font-family: sans-serif;
  font-size:2rem;
  line-height: .8;
  width:300px;
}
em{
  font-family:serif;
  font-size:1rem;
  /* for big font font-size: 2.5rem;
  line-height: .8; */
}

a{
  color:blue;
  display:block;
  width:100px;
  font-size:1rem;
}
a:visited{
  color:blue;
}
video{
  width: 100vw;
  height: 100vh;
}


#text{
  position:absolute;
  top:0px;
  left:0px;
  z-index:-10;
}

#wrapper{
  margin:30px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px;
}
#filler{
  grid-column: 2 / 9;
  grid-row: 1 / 20;
}

#box1{
  position:fixed;
  top:-400px;
  left: 700px;
}

#box2{
  position:fixed;
  right:200px;
  top:-100px;
}
#box3{
  display:none;
  position:fixed;
  right:600px;
  top:100px;
}
#box4{
  position:fixed;
  left:600px;
  top:-300px;
}
#box5{
  display:none;
  position:fixed;
  left:700px;
  top:200px;
}
#box6{
  z-index: -10;
  position:fixed;
  right:200px;
  top:-400px;
}

#box7{
  position:fixed;
  left:80px;
  top:-40px;
}

#box8{
  position:fixed;
  right:0px;
  top:0px;
}

#box9{
  position:fixed;
  right:10px;
  top:0px;
}
#box10{
  z-index: -11;
  position:fixed;
  left:-100px;
  top:400px;
}
#box11{
  position:fixed;
  z-index:-10;
  right:150px;
  bottom:400px;
}
#box12{
  position:fixed;
  z-index:-10;
  right:0px;
  bottom:500px;
}
#box13{
  position:fixed;
  top:-100;
  right:1000px;
}
#box14{
  position:fixed;
  bottom:200px;
}
#box15{
  position:fixed;

}
.patternunit{
    position:absolute;
    display: inline-block;
}
